<div class="container-fluid">
  <app-loader [isLoading]="isLoading"></app-loader>
  <div class="jumbotron text-left" *ngIf="!!resume">
    <h1>{{ resume.basics.name }}</h1>
    <h2 class="label">{{ resume.basics.label }}</h2>

    <h3 class="subtitle" translate>RESUME</h3>

    <ngx-prism [language]="language" [code]="content" [interpolation]="interpolate"> </ngx-prism>

    <h3 class="subtitle" translate>WORK EXPERIENCE</h3>
    <div class="resume-item" *ngFor="let w of resume.work">
      <div class="label">{{ w.position }}</div>
      <div class="place-and-date">{{ w.company }}</div>
      <div class="description">{{ w.summary }}</div>
    </div>

    <h3 class="subtitle" translate>EDUCATION</h3>
    <div class="resume-item" *ngFor="let e of resume.education">
      <div class="label">{{ e.area }}</div>
      <div class="place-and-date">{{ e.institution }}</div>

      <div class="description">{{ e.area }}</div>
    </div>
    <!-- {{ resume | json }} -->

    <!-- <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
      <span translate>Hello world !</span> 
    </h1>-->
    <!-- <q [hidden]="isLoading">{{ quote }}</q> -->
  </div>
</div>
