@import "src/theme/theme-variables";

.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

h2.label {
  color: $white;
}

.resume-item {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;

  .label {
    color: $blue;
    display: inline;
    font-weight: bold;
  }
  .place-and-date {
    color: $white;
    font-weight: bold;
    display: inline;
  }

  .description {
    display: inline;
  }
}

.subtitle {
  color: $pink;
  border-bottom-style: solid;
  font-family: Impact;
}
